::placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-button:hover {
  background: purple;
  color: black;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  min-height: 15vh;
  width: 60em;
}

.search-bar {
  width: 60%;
  height: 5vh;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background: palevioletred;
  border: none;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.search-button {
  margin-left: 10px;
  margin-top: 2px;
  padding: 10px 40px;
  border-radius: 30px;
  color: #fff;
  background-color: blue;
}